{% extends 'base.html.twig' %}

{# {% block title %} {{ titreSite }} {% endblock %} #}

{% block body_id %}app{% endblock %}

{% block header %}
    {# {% include 'shared/_header.html.twig' %} #}
{% endblock %}

{% block main %}
    {% include 'baseOpen.html.php' %}
    <center>
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
        <table>
            <tr style="text-align:center; margin:auto">
                <td style="width:40%">
                    <label class="label" for="inputEmail">Email : </label>
                    <br>
                    <input class="input" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                    <br><br>
                    <label class="label" for="inputPassword">Password : </label>
                    <br>
                    <input class="input" type="password" name="password" id="inputPassword" class="form-control" required>
                    <br><br>
                    <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                    >

                    {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                    #}

                    <button onclick="document.location='{{ path('show_all_article') }}'" class="btn btn-lg btn-primary tailleBtn" type="submit">
                        <img class="iconBtn" src="../assets/images/icons/cancel.png" title="Annuler">
                    </button> 
                    &emsp;
                    <button class="btn btn-lg btn-primary tailleBtn" type="submit">
                        <img class="iconBtn" src="../assets/images/icons/accept.png" title="Valider">
                    </button> 
                </td>
            </tr>
        </table>        
    </form>
    {% include 'footer.html.php' %}
{% endblock %}
