{% extends 'base.html.twig' %}

{% block title %} Ajout mot clés {% endblock %}
{# {% block title %} {{ titreSite }} {% endblock %} #}

{% block body_id %}app{% endblock %}

{% block main %}
    {% include 'baseOpen.html.php' %}
    <center>
    <h1>Ajouter des clés</h1>

    <table>
        <tr>
            <td>
                {{ form_start(addkeyForm)}}
                    {{ form_row(addkeyForm.name, {
                        label: 'nom : '
                    })}}
            </td>
        </tr>
        <tr>
            <td style="text-align:center; vertical-align:top" >
                <br>
                <button class="btn" type="submit">Enregistrer</button>
            </td>
        </tr>
    </table>
    <table style="position:absolute; top:100px; left:80%; background:white">
        <tr>
            <td rowspan="2" style="border:solid 1px black; text-align:center">
                <b>Mots Clés déjà existant</b><br><br>
                {% for showKey in showKeys %}
                    {{ showKey.name }}
                    <br>
                {% endfor %}
            </td>
        </tr>
    </table>
    
    {{ form_end(addkeyForm) }}
    {% include 'footer.html.php' %}
{% endblock %}