{% extends 'base.html.twig' %}

{% block title %} Ajout article {% endblock %}
{# {% block title %} {{ titreSite }} {% endblock %} #}

{% block body_id %}app{% endblock %}

{% block main %}
    {% include 'baseOpen.html.php' %}
    <center>
    <h1>Ajouter un article</h1>

    {{ form_start(addArticleForm)}}
    {# {{ form_start(addPictureForm)}} #}

        {{ form_row(addArticleForm.title, {
            label: 'Titre : '
        })}}
       {{ form_row(addArticleForm.description, {
            label: 'Description : '
        })}} 
        {{ form_row(addPictureForm.name, {
            label: 'Nom Picture : '
        })}}
        {{ form_row(addPictureForm.address, {
            label: 'Adresse : '
        })}}

        {# {{ form_row(addPictureForm.name, {
            label: 'Picture :'
        })}} #}
       {# {{ form_row(addArticleForm.articlesThemes, {
            label: 'Themes : '
        })}}  #}
        {# {{ form_row(addArticleForm.keyWords, {
            label: 'KeyWords : '
        })}} #}

        {{ form_start(addThemeForm, {
            attr: {
                novalidate: "novalidate",
                class: "row"
            }
            }) }}
            {{ form_row(addThemeForm.name, {
            label: 'Theme : '
        })}}
        
        


       {# {{ form_start(addKeyForm, {
            attr: {
                novalidate: "novalidate",
                class: "row"
            }
            }) }} #}
        {# {{ form_row(addKeyForm.name, {
            label: 'Mot clé : '
        })}} #}
        {# {{ form_row(addArticleForm.themes, {
            label: 'Themes :',
            value: 'name',
        })}}
        {{ form_row(addArticleForm.keyWords, {
            label: 'Keys : ',
            value: 'name',
        })}} #}
        <br>
        <button class="btn" type="submit">Enregistrer</button>
    {# {{ form_end(addThemeForm) }} #}
    {# {{ form_end(addKeyForm) }} #}
    {# {{ form_end(addPictureForm) }} #}
    {{ form_end(addArticleForm) }}
    {% include 'footer.html.php' %}
{% endblock %}