{% extends 'base.html.twig' %}
{% block title %} Montrer Articles {% endblock %}
{% block body_id %} app {% endblock %}
{% block header %}
    {# {% include 'shared/_header.html.twig' %} #}
{% endblock %}

{% block main %}
    {% include 'baseOpen.html.php' %}
        {# Corp de la page d'articles #}
    <div class="backgroundCreate heightMoy">
        <br>
        <center>
        <h3><b><u>Articles</u></b></h3>
        {% if not app.user %}
            Erreur de chargement aller dans (ShowAllArticle.htlm.twig ligne 15)
        {% else %}
            {% if (app.user.role.id == "1") %}
            <a href="{{ path('manage_articles') }}"> <input type="button" value="Mettre en liste"> </a>
            <br><br>
            {% else %}
            {% endif %}
        {% endif %}
    </div>
    <div class="backgroundCreate">
        <section class="paragraphe subtitle read ">   
        <center>         
            <table class="tableauReadScrap backgroundWhite" style="border-spacing: 50px 3rem; text-align:center; margin:auto">                
                <tbody class="pointerRead">
                    {% for article in articles %}
                    {# <tr class="textShadow borderTableauUsers textTableauUsers" style="text-align:center"> #}
                    <tr onclick="document.location='{{ path('show_one_article', {'title':article.title}) }}'" >
                        {# {% if ((article.id)%4 == 0) %}
                        </tr>
                        <tr>
                            <td style="height:50px"></td>
                        </tr>
                        <tr class="textShadow borderTableauUsers textTableauUsers" style="text-align:center">
                            <td onclick="document.location='{{ path('show_one_article', {'title':article.title}) }}'" class=" borderTrue" style="border: 1px solid black; width:300px; height:300px; text-decoration:none; cursor:pointer; margin-left:10px; margin-right:10px">
                                <p>{{ article.title }}
                                <br>                                    
                                {% for picture in pictures %}
                                    {% if ( picture.article.id == article.id ) %}                                            
                                        {{ picture.name }}                                           
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td style="width:50px"></td>
                        {% else %} #}
                            <td style="border: 1px solid black; width:50rem; height:20rem; cursor:pointer;">
                                {{ article.title }}
                                <br>
                                {% for picture in pictures %}
                                    {% if ( picture.article.id == article.id ) %}                                                                                       
                                        {{ picture.name }}<br>                                                                               
                                    {% endif %}
                                {% endfor %}
                            </td>     
                        {# {% endif %} #}
                    </tr> 
                    {% endfor %}                       
                </tbody>                    
            </table>
            <br>
        <br>
        <center>
        {% include 'footer.html.php' %}
        </section>
    </div>
{% endblock %} 