{% extends 'base.html.twig' %}

{% block title %} Midfier article {% endblock %}
{# {% block title %} {{ titreSite }} {% endblock %} #}

{% block body_id %}app{% endblock %}

{% block main %}
    {% include 'baseOpen.html.php' %}
    <center>
    <h1>Modifier un article</h1>

    {{ form_start(updateArticleForm)}}
        <div class="input">
        {{ form_row(updateArticleForm.title, {
            label: 'Titre : '
        })}}
        </div>
        <div>
        {{ form_row(updateArticleForm.description, {
            label: 'Description : '
        })}}
        </div>
        {# {{ form_row(updateArticleForm.picture, {
            label: 'Photos :'
        })}} #}
        {# {{ form_row(addArticleForm.themes, {
            label: 'Themes :',
            value: 'name',
        })}}
        {{ form_row(addArticleForm.keyWords, {
            label: 'Keys : ',
            value: 'name',
        })}} #}
        <br>

   


        <button class="btn" type="submit">Enregistrer</button>
    {{ form_end(updateArticleForm) }}
    {% include 'footer.html.php' %}
{% endblock %}