{% extends 'base.html.twig' %}

{% block body_id %}app{% endblock %}

{% block main %}
    {% include 'baseOpen.html.php' %}
    <center>
    <h1>Modifier un article</h1>

    <table style="width:50%; text-align:center; margin:auto">
        {{ form_start(updateArticleForm)}}
        <tr>
            <td style="width:15%; height:20px; text-align:left">
                {{ form_label(updateArticleForm.title, 'Titre :') }}
            </td>
            <td style="width:15%; height:20px; text-align:left">
                {{ form_errors(updateArticleForm.title) }}
                {{ form_widget(updateArticleForm.title) }}
            </td>
            <td style="width:45%;" rowspan="4">
                <b>Photo principale de l'article</b><br><br>
                {# <img src="imagesLoaders/{{ mainPictures.address }}" style="width:65%"/>             #}
                <img src="imagesLoaders/{{ mainPictures }}" style="width:65%"/>            
            </td>
        </tr>

        <tr>
            <td style="height:20px; text-align:left">
                {{ form_label(updateArticleForm.description, 'Description :') }}
            </td>
            <td style="height:20px; text-align:left">
                {{ form_errors(updateArticleForm.description) }}
                {{ form_widget(updateArticleForm.description) }}
            </td>
        </tr>

        {# <tr>
            <td style="height:20px; text-align:left">
                {{ form_label(updateArticleForm.description, 'Description :') }}
            </td>
            <td style="height:20px; text-align:left">
                {{ form_errors(updateArticleForm.description) }}
                {{ form_widget(updateArticleForm.description) }}
            </td>
        </tr> #}

        <tr>
            <td style="height:20px; text-align:left">
                {{ form_label(updateArticleForm.picturesMain, 'picturesMain :') }}
            </td>
            <td style="height:20px; text-align:left">
                {{ form_errors(updateArticleForm.picturesMain) }}
                {{ form_widget(updateArticleForm.picturesMain) }}
            </td>
        </tr>

        <tr>
            <td style="height:20px; text-align:left">
                {{ form_label(updateArticleForm.pictures, 'pictures :') }}
            </td>
            <td style="height:20px; text-align:left">
                {{ form_errors(updateArticleForm.pictures) }}
                {{ form_widget(updateArticleForm.pictures) }}
            </td>
        </tr>
        <br>
    </table>
    <br>
    <button class="btn" type="submit">Enregistrer</button>
    {{ form_end(updateArticleForm) }}
    {% include 'footer.html.php' %}
{% endblock %}