<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>

        <title>{% block title %}Site de Maman{% endblock %}</title>
        <base href="{{ asset('') }}">

        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="build/app.css"/>
        {% endblock %}
    </head>
    <body id="{% block body %}{% endblock %}">
        
        <header class="row">
            {% block header %} {% endblock %}
        </header>
        <div class="row">
            {% block div %}
                <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header margin-0">
                <header class="mdl-layout__header bandeau blue">
                    {% if not app.user %}
                        <div class="mdl-layout__header-row">
                    {% else %}
                        {% if (app.user.role.id == "1") %}
                            <div class="mdl-layout__header-row" style="background-color:rgb(186, 104, 200)">
                        {% else %}
                            <div class="mdl-layout__header-row">
                        {% endif %}
                    {% endif %}
                    <!-- Title -->
                    <!-- Menu du haut -->
                    <span class="mdl-layout-title">
                        <a class="mdl-navigation__link" href="{{ path('show_all_article') }}">&nbsp;<img src="../assets/images/icones/news.png" alt="Actualités" width="40%" title="Actualités"></a>
                    </span>
                    <!-- Add spacer, to align navigation to the right -->

                    <div class="mdl-layout-spacer"></div>
                            <!-- Add spacer, to align navigation to the right -->
                            <div class="mdl-layout-spacer"></div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
                    </div>

                    <!-- Menu du haut droit -->
                    <nav class="mdl-navigation mdl-layout--large-screen-only">
                        {% if not app.user %}
                            <a class="menuLeft menuconnexion" href="{{ path('app_register') }}"><img src="../assets/images/icones/login.png" width="20%" title="Register" text-align="center"></a>
                            <a class="menuLeft menuconnexion" href="{{ path('app_login') }}"><img src="../assets/images/icones/login.png" width="20%" title="Connexion" text-align="center"></a>
                        {% else %}
                            {# <a class="mdl-navigation__link bandoIconeStoreProduct" href="#"><img src="../assets/images/icones/shopping.png" width="40%" title="Calendrier" text-align="center"> </a> #}
                            {# <a class="mdl-navigation__link bandoIconeStoreProduct" href="{{ path('app_home') }}"><img src="../assets/images/icones/shopping.png" width="40%" title="Commander" text-align="center"> </a> #}
                            <a class="mdl-navigation__link bandoIconeStoreProduct" href="{{ path('app_logout') }}"><img src="../assets/images/icones/shopping.png" width="40%" title="Déconnexion" text-align="center"> </a>
                        {% endif %}

                    </nav>
                    </div>
                </header>
                
                <!-- Menu déroulant de gauche -->
                <div class="mdl-layout__drawer">
                    <span class="mdl-layout-title">
                    </span>
                    <nav class="mdl-navigation menuLeft">
                        <a class="menuLeft" href="{{ path('show_all_article') }}"><img src="../assets/images/icones/news.png" width="20%" title="Actualités">Actualités</a>
                        <hr color="blue" size="10px">
                        {% if not app.user %}
                            <a class="menuLeft menuconnexion" href="{{ path('app_register') }}"><img src="../assets/images/icones/login.png" width="20%" title="Register" text-align="center">Register</a>
                        {% else %}
                            {# <a class="menuLeft" href="#"><img src="../assets/images/icones/shopping.png" width="40%" title="Calendrier" text-align="center">Calendrier</a> #}
                            {# <a class="menuLeft " href="readOrder"><img src="../assets/images/icones/shopping.png" width="20%" title="Commander">Commander</a> #}
                            <hr class="barreconnexion" color="blue" size="10px">
                        {% endif %}

                        {% if not app.user %}
                            Je suis annonyme
                        {% else %}
                            {% if (app.user.role.id == "1") %}
                                {{ dump(app.user) }}
                                Je suis Admin
                                {{ dump(app.user.username) }}
                                {{ dump(app.user.role.name)}}
                                <a class="menuLeft menuviewusers" href="{{ path('add_article') }}"><img src="../assets/images/icones/users.png" width="20%" title="Ajout article" text-align="center">Ajout Article</a>
                                <a class="menuLeft menuviewusers" href="{{ path('add_theme') }}"><img src="../assets/images/icones/users.png" width="20%" title="Ajout thème" text-align="center">Ajout Thème</a>
                                <a class="menuLeft menuviewusers" href="{{ path('all_users') }}"><img src="../assets/images/icones/users.png" width="20%" title="Utilisateur" text-align="center">Utilisateurs</a>
                            {% else %}
                                {{ dump(app.user) }}
                                {{ dump(app.user.firstname)}}
                                {{ dump(app.user.email)}}
                                {{ dump(app.user.datecreate)}}
                                {{ dump(app.user.role.name)}}
                                Je suis user
                            {% endif %}
                        {% endif %}                       
                    </nav>
                </div>
                    <main class="mdl-layout__content">
                    <div class="page-content"><!-- Your content goes here -->
            {% endblock %}
        </div>

        <main class="row">
            {% block main %} {% endblock %}
        </main>

        <footer class="row">
            {% block footer %} {% endblock %}
        </footer>

        {% block javascripts %}
            <script type="text/javascript" src="index.js"></script>
        {% endblock %}
    </body>
</html>
